@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500;700&display=swap');
* {
   font-family: 'Inter', sans-serif;
  /* Do these 3 everytime you make a new website*/
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

html{
    scroll-behavior: smooth;
  }
  .purple{
    color: rgb(100 21 255);
  }
  body{
    
  }
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%; /*Makes it resposnsive */
    max-width: 1300px;
 
  }

  .row{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;

  }
  .logo__wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: center;
  
  }

 .logo__img{
        width: 40px;
        height: 40px;
        margin-top: 16px;
  }

  .logo__name{
    font-weight: bold;
    color: black;
    font-size: 24px;
    text-decoration: none;
    margin-top: 15px;
    margin-left: 8px;
  }
  .nav__links-account{
    padding-left: 48px;
    padding-right: 16px;
  }

  .nav__links-info, .nav__links-account{
    display: flex;

    margin-top: 15px;
    font-weight: 800;
  }
  .nav__link{
    padding-left: 24px;
    list-style: none;
    
  }
  .nav__link--anchor{
    text-decoration: none;
    color: black;
  }
  .link__hover-effect:hover{
    color: rgb(100 21 255);
    text-decoration-line: underline;
    text-underline-offset: 16px;

  }
  .nav__link--anchor-contact{
  background-color: rgb(100 21 255);
  padding: 8px 20px;
  border-radius: 50px;
  color: white;
  text-decoration: none;
  }

   .nav__link--anchor-contact:hover{
    background-color: rgb(58, 4, 166);
    transition: all 300ms ease;
  }

  ul{
    display: flex;
    justify-content: space-between;
  }

  .flex{
    display: flex;
    
}



#landing{
  display: flex;
  
}
.landing__info, .quality__info, .value__info{
  display: flex;
  flex-direction: column;
  max-width: 40%;
  margin-right: 16px;
  

}

.landing__img-right, .quality__img-right, .value__img-right
{
  max-width: 60%;
  margin-top: 20px;
  margin-right: 0;
  overflow: hidden;
}

.steps__img-left{
  max-width: 60%;
  margin-top: 20px;
  margin-left: 0;
  overflow: hidden;
}



  .title{
    margin-top: 62px;
    font-size: 32px;
  }

 .landing__subtitle{
  margin-top: 32px;
  padding-right: 8px;
  line-height: 1.3em;
  font-size: 18px;
  margin-bottom: 40px;
  }


  .landing--img-wrapper, .steps--img-wrapper{
    max-width: 100%;
    max-height: 100%;

  }

  .landing__img{
    width: 747px;
    height: 537px
  }

  .values__img{
    width: 600px;
    height: 300px;

  }

  .email__wrapper{

    width: 450px;
    height: 65;
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(66, 66, 66);
    padding: 5px;
    border-radius: 60px;
    overflow: hidden;
    
  
    
  }

  .email__textbox{

    padding-left: 12px;
    font-size: larger;

    border: none;
    outline: none;
  
  }

  .email__btn{

    padding: 10px;
    border: none;
    border-radius: 60px;
  }

  .trusted__customers--wrapper
  {
    margin-top: 100px;
    max-width: 100%;

  }

  .customers__logo{
    max-width: 100%;
    max-height: 100%;
    filter: grayscale(2);
  }

  .customers__logo--wrapper{
    width: 515px;
    height: 32px;
  }

  .trusted_text{
    margin-bottom: 8px;
  }

  .features__layout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: cian;
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
    margin-top: 230px;
  }

  .title{
    font-size: 24px;
    margin-bottom: 32px;
  }

  .subtitle{
    font-size: 32px;
    color: rgb(36 62 99);
    opacity: 1;
  }

  .features__para{
    margin-top: 16px;
    max-width: 500px;
    line-height: 1.7em;
    text-align: center;
    color: rgb(124 139 161)
  }

  .features__list--wrapper{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;

  }

  .features__list{
    display: flex;
    flex-wrap:wrap;
    list-style: none;
    margin: 0 16px;
  }

  .features__list-item{
    display: flex;
    width: calc(100% / 3);
    margin-top: 32px;
    padding: 30px;
  }
  .features__text{
    display: flex;
    flex-direction: column;
  }

  .features__list--img-wrapper{
    padding-right: 16px;
  }

  .features__list--img{
    image-resolution: 60p;
    border-radius: 60px;
    border: solid 2px rgb(228, 227, 227);
    padding: 20px;
  }

  .features__list--title{
    margin-bottom: 24px;
    font-size: 24px;
  }

  .features__list--para{
    line-height: 1.7;
  }

  #quality{
    width: 100%;
    margin: 0 auto;
    margin-top: 172px;
  }

  .flex-1{
    margin-top: 48px;
    justify-content: space-between;
    margin-bottom: 322px;
  }

  .quality__title{
    margin-bottom: 24px;
    font-size: 16px;
  }

  .quality__subtitle{
    
    margin-bottom: 16px;
    font-size: 32px;
    color: rgb(36 62 99);
  }
  .para{
    color: rgb(36 62 99);
    line-height: 1.3em;
    font-size: 28px;
  
  }

  .quality__info, .quality__img-right{
    max-width: 50%;
    
  }

  .quality__info{
    margin-top: 32px;
    padding-right: 55px;
  }



  


  .quality__img-right{
   border:solid 1px rgb(209, 209, 209);
   /* height: 400px;
   width: 600px; */
  
  }

  .quality--img-wrapper, .value__img-right{
    margin-left: 24px;
    /* max-width: 100%;
    max-height: 100%; */
    height: 400px;
  }

  .landing__img{
    max-width: 100%;
    max-height: 100%;

  }

  .para{
    line-height: 1.5;
    font-size: 20px;
    color: rgb(124 139 161)
  }

  .learnmore__btn{
    margin-top: 40px;
    width: 155;
    height: 40;
    border-radius: 200px;
    background-color: rgb(100 21 255);
    color: white;
    font-size: 16px;
  }

  .learnmore__btn:hover{
  
  }


.steps__img{
  width: 600px;

}

  .steps__list{
    display: flex;
    flex-direction: column;
  }

  .step__title{
    display: flex;
  }

  .values__points{
    display: flex;
    flex-direction: row;
  }

.values__img-affordable{
  display: flex;
  justify-content: space-between;

}

.values__img{
  max-width: 100%;
  max-height: 100%;


}
.values__img--affordable, .values__img--professionalism{
  padding: 8px;
  border-radius: 30px;
  height: 48px;
  width: 48px;
}

.values__img--affordable{
  background-color: rgb(172, 241, 172);
}
.values__img--professionalism{
  background-color: rgb(233, 110, 110);
}
.values__title{
  margin-left: 0;
}

  #pricing{
    margin-top: 120px;
    margin-bottom: 100px;

  }
  

  .pricing__boxes{
    display: flex;
    flex-direction: row;
  justify-content: space-between;  
  text-align: center;
}
  .personal__box{
    width: 400px;
    border: solid 1px rgb(236, 236, 236);
    border-radius: 24px;
    border-top: solid 8px;
    border-top-color:  rgb(119, 190, 119);

  }

  .business__box{
    width: 400px;

    background-color: brown;
  }

  .emterprise__box{
    width: 400px;

    background-color: blue;
  }

  .section__1{

  }

  .box__title{
    margin-top: 16px;
    font-size: 24px;
    font-weight: bold;
  }

  .box__price{
    margin-top: 24px;
    font-size: 52px;
    font-weight: bold;
  }
  .box__monthly{
    margin-top: 24px;
    color: rgb(124 139 161);
    font-size: large;
  }

.section__2{
   margin-top: 16px;
  border-top: solid 1px rgb(236, 236, 236);
padding-top: 16px;
}

.box__subtitle{
  font-size: 18px;
  font-weight: bold;
}

.box__info{
  padding: 24px;
}

.box__info--content{
  padding: 10px;
  color: rgb(124 139 161);
}
.section__3{
  border-top: solid 1px rgb(236, 236, 236);
  padding: 32px;
}

.btn__buynow{
  border-radius: 34px;
  width: 200px;
  height: 60px;
  border: none;
}

.btn__buynow1{
  background-color:  rgb(119, 190, 119);
  color: white;
  font-weight: bold;
}