@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@300;400;500;700&display=swap");

* {
  font-family: "Lato", sans-serif;
  /* Do these 3 everytime you make a new website*/
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

html{
    scroll-behavior: smooth;
  }
  .purple{
    color: rgb(100 21 255);
  }
  body{
    
  }
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%; /*Makes it resposnsive */
    max-width: 1200px;
 
  }

  .row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

  }
  .logo__wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 25px 16px;
  }

 .logo__img{
        width: 40px;
        height: 40px;
        margin-top: 16px;
  }

  .logo__name{
    font-weight: bold;
    color: black;
    font-size: 24px;
    text-decoration: none;
    margin-top: 15px;
    margin-left: 8px;
  }
  .nav__links-account{
    padding-left: 48px;
    padding-right: 16px;
  }

  .nav__links-info, .nav__links-account{
    display: flex;

    margin-top: 15px;
    font-weight: 800;
  }
  .nav__link{
    padding-left: 24px;
    list-style: none;
    
  }
  .nav__link--anchor{
    text-decoration: none;
    color: black;
  }
  .link__hover-effect:hover{
    color: rgb(100 21 255);
    text-decoration-line: underline;
    text-underline-offset: 16px;

  }
  .nav__link--anchor-contact{
  background-color: rgb(100 21 255);
  padding: 8px 20px;
  border-radius: 50px;
  color: white;
  text-decoration: none;
  }

   .nav__link--anchor-contact:hover{
    background-color: rgb(58, 4, 166);
    transition: all 300ms ease;
  }

  ul{
    display: flex;
    justify-content: space-between;
  }

  .flex{
    display: flex;
}

.flex-1{
    flex: 1;
}

#landing{
  display: flex;
  flex-direction: row;
}



  .landing__title{
    margin-top: 62px;
    font-size: 32px;
  }

 .landing__subtitle{
  margin-top: 32px;
  padding-right: 8px;
  line-height: 1.3em;
  font-size: 18px;
  margin-bottom: 40px;
  }

  .landing__img{
  }

 .landing--img-wrapper{


  
  }

  .landing--img-wrapper{
    max-width: 100%;
    max-height: 100%;

  }

  .landing__img{
    width: 747px;
    height: 537px
  }